<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Virtual Wallet - by Rado & Vasko</title>

    <!-- Styles -->
    <link rel="stylesheet" href="..static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/><!-- Bootstrap -->
    <link rel="stylesheet" href="..static/css/icons.min.css" th:href="@{/css/icons.min.css}"/><!-- Icons -->
    <link rel="stylesheet" href="..static/css/style.css" th:href="@{/css/style.css}"/><!-- Style -->
    <link rel="stylesheet" href="..static/css/responsive.css" th:href="@{/css/responsive.css}"/><!-- Responsive -->
    <link rel="stylesheet" href="..static/css/color.css" th:href="@{/css/color.css}"/><!-- Default Color Scheme -->

    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" href="..static/css/nav/settings.css" th:href="@{/css/nav/settings.css}"/>
    <!-- REVOLUTION LAYERS STYLES -->
    <link rel="stylesheet" href="..static/css/nav/layers.css" th:href="@{/css/nav/layers.css}"/>
    <!-- REVOLUTION NAVIGATION STYLES -->
    <link rel="stylesheet" href="..static/css/nav/navigation.css" th:href="@{/css/nav/navigation.css}"/>
</head>
<body itemscope>
<div class="pageloader blue-bg">
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div><!-- Pageloader -->
<main>
    <header class="stick style1">
        <div class="menu-sec">
            <div class="container">
                <div class="menu-sec-inner">
                    <div class="logo"><a href="#" title="" itemprop="url"><img src="..static/images/logo1.png"
                                                                               th:src="@{/images/logo1.png}"
                                                                               alt="logo1.png"
                                                                               itemprop="image"></a>
                    </div>
                    <nav>
                        <div>
                            <ul>
                                <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Log out</a></li>
                            </ul>
                        </div>
                    </nav>
                    <nav class="one-page-scrol">
                        <div>
                            <a sec:authorize="!isAuthenticated()" class="btn-caption btn-outline-warning btn-lg" th:href="@{/login}">LOGIN</a>
                            <a sec:authorize="!isAuthenticated()" class="btn-caption btn-outline-warning btn-lg " th:href="@{/registration}">SIGNUP</a>
                            <ul>
                                <li sec:authorize="!isAuthenticated()"></li>
                                <li sec:authorize="!isAuthenticated()"></li>
                                <li sec:authorize="!isAuthenticated()"></li>
                                <li sec:authorize="!isAuthenticated()"></li>
                            </ul>
                            <ul>
                                <li><a href="#about" title="" itemprop="url">About</a></li>
                                <li><a href="#team" title="" itemprop="url">Team</a></li>
                                <li><a href="#contact" title="" itemprop="url">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                    <nav>
                        <div>
                            <ul>
                                <li><a sec:authorize="isAuthenticated()" th:href="@{/profile}">My profile</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div><!-- Menu Sec -->
    </header><!-- Header -->
    <div class="res-header">
        <div class="res-logo-sec">
            <div class="logo"><a href="index.html" title="" itemprop="url"><img src="..static/images/logo1.png"
                                                                                th:src="@{/images/logo1.png}"
                                                                                alt="logo1.png" itemprop="image"></a>
            </div>
            <span class="res-menu-btn blue-bg brd-rd5"><i class="fas fa-align-center"></i></span>
        </div>
        <div class="res-menu">
            <span class="res-menu-close brd-rd5"><i class="fas fa-times"></i></span>
            <ul>
                <li class="menu-item-has-children"><a href="#" title="" itemprop="url">Home</a><i
                        class="fas fa-caret-down"></i>
                    <ul>
                        <li><a href="index.html" title="" itemprop="url">Homepage 1</a></li>
                        <li><a href="index2.html" title="" itemprop="url">Homepage 2</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#" title="" itemprop="url">Blog</a><i
                        class="fas fa-caret-down"></i>
                    <ul>
                        <li><a href="blog.html" title="" itemprop="url">Our Blog</a></li>
                        <li><a href="registration.html" title="" itemprop="url">Blog Detail</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#" title="" itemprop="url">Pages</a><i
                        class="fas fa-caret-down"></i>
                    <ul>
                        <li class="menu-item-has-children"><a href="#" title="" itemprop="url">Our Team</a><i
                                class="fas fa-caret-down"></i>
                            <ul>
                                <li><a href="team.html" title="" itemprop="url">Our Team</a></li>
                                <li><a href="team-detail.html" title="" itemprop="url">Team Detail</a></li>
                            </ul>
                        </li>
                        <li><a href="history.html" title="" itemprop="url">History</a></li>
                        <li><a href="search-found.html" title="" itemprop="url">Search Found</a></li>
                        <li><a href="search-not-found.html" title="" itemprop="url">Search Not Found</a></li>
                        <li><a href="404.html" title="" itemprop="url">404 Error</a></li>
                        <li><a href="token-sales.html" title="" itemprop="url">Token Sales</a></li>
                        <li><a href="faq.html" title="" itemprop="url">Frequently Asked Questions</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#" title="" itemprop="url">Events</a><i
                        class="fas fa-caret-down"></i>
                    <ul>
                        <li><a href="our-events.html" title="" itemprop="url">Our Events</a></li>
                        <li><a href="event-detail.html" title="" itemprop="url">Event Detail</a></li>
                    </ul>
                </li>
                <li><a href="about.html" title="" itemprop="url">About</a></li>
                <li><a href="contact.html" title="" itemprop="url">Contact</a></li>
            </ul>
        </div>
    </div><!-- Responsive Header -->
    <section class="overlap161 feat-shb">
        <div class="spacing no-spacing">
            <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="notgeneric125"
                 data-source="gallery" style="background-color:transparent;padding:0px;">
                <div id="rev_slider_4_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
                    <ul>
                        <li data-index="rs-1" data-transition="random" data-slotamount="default" data-hideafterloop="0"
                            data-hideslideonmobile="off" data-title="Slide Title" data-easein="Power4.easeInOut"
                            data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"
                            data-fstransition="random" data-fsmasterspeed="1500" data-fsslotamount="7"
                            data-saveperformance="off" data-param1="" data-param2="" data-param3="" data-param4=""
                            data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                            data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="..static/images/Trade-graph-photo.jpg" th:src="@{/images/Trade-graph-photo.jpg}"
                                 alt="pixabay-1920x996.jpg" data-bgposition="center center" data-bgfit="cover"
                                 data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-resizeme"
                                 id="slide-layer-1"
                                 data-x="['left','left','center','center']" data-hoffset="['370','30','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['-43','-50','-30','-15']"
                                 data-fontsize="['60','55','45','35']"
                                 data-lineheight="['65','65','50','40']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"x:-[105%];z:0;rX:45deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['left','left','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="color: #fff;font-weight:700;font-family: 'exo 2';letter-spacing: .2px;">Send &
                                request money<br> <span class="theme-clr"
                                                        style="font-weight: 300;">No fees, no taxes</span>
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-resizeme"
                                 id="slide-layer-2"
                                 data-x="['left','left','center','center']" data-hoffset="['370','30','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['70','70','60','60']"
                                 data-fontsize="['17','17','17','13']"
                                 data-lineheight="['28','30','27','26']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"x:-[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['left','left','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="color: #fff;font-weight: 400;font-family: lato;letter-spacing: .2px;">Banks will
                                charge you when you transfer money abroad. We're not about that!<br>
                                Instantly send and request money from your friends in Europe, U.S. and Australia at the
                                touch of a button.
                            </div>
                        </li>
                        <li data-index="rs-2" data-transition="random" data-slotamount="default" data-hideafterloop="0"
                            data-hideslideonmobile="off" data-title="Slide Title" data-easein="Power4.easeInOut"
                            data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"
                            data-fstransition="random" data-fsmasterspeed="1500" data-fsslotamount="7"
                            data-saveperformance="off" data-param1="" data-param2="" data-param3="" data-param4=""
                            data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                            data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="..static/images/pixabay-1920x996.jpg" alt="pixabay-1920x996.jpg"
                                 data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                                 data-bgparallax="10" class="rev-slidebg" data-no-retina
                                 th:src="@{/images/pixabay-1920x996.jpg}">

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-resizeme"
                                 id="slide-layer2-1"
                                 data-x="['left','left','center','center']" data-hoffset="['370','30','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['-43','-50','-30','-15']"
                                 data-fontsize="['60','55','45','35']"
                                 data-lineheight="['65','65','50','40']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"x:-[105%];z:0;rX:45deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['left','left','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 th:href="@{/registration}"
                                 style="color: #fff;font-weight:700;font-family: 'exo 2';letter-spacing: .2px;">Build a better business <br> <span class="theme-clr" style="font-weight: 300;">Profit with us</span>
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-resizeme"
                                 id="slide-layer2-2"
                                 data-x="['left','left','center','center']" data-hoffset="['370','30','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['70','70','60','60']"
                                 data-fontsize="['17','17','17','13']"
                                 data-lineheight="['28','30','27','26']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"x:-[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['left','left','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 th:href="@{/registration}"
                                 style="color: #fff;font-weight: 400;font-family: lato;letter-spacing: .2px;">We offer a variety of products and services designed to help you build a better business
                            </div>
                        </li>
                    </ul>
                </div>
            </div><!-- END REVOLUTION SLIDER -->
        </div>
    </section>
    <section>
        <div class="spacing top-spac50">
            <div class="container">
                <div class="remove-ext3 text-center">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-lg-4">
                            <div class="srv-bx">
                                <i><img src="..static/images/resources/srv-icn1.png"
                                        th:src="@{/images/resources/srv-icn1.png}" alt="srv-icn1.png" itemprop="image"></i>
                                <h5 itemprop="headline"><a href="#" title="" itemprop="url">Exchange money</a></h5>
                                <p itemprop="description">With so many options to send and receive money, through bank
                                    accounts, mobile wallets and thousands of locations, <br>
                                    Virtual Wallet lets you discover your way.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-lg-4">
                            <div class="srv-bx">
                                <i><img src="..static/images/resources/srv-icn2.png"
                                        th:src="@{/images/resources/srv-icn2.png}" alt="srv-icn2.png" itemprop="image"></i>
                                <h5 itemprop="headline"><a href="#" title="" itemprop="url">Manage your money better</a>
                                </h5>
                                <p itemprop="description">Virtual Wallet makes it faster and easier to send and receive
                                    cash. Join us now! .</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-lg-4">
                            <div class="srv-bx">
                                <i><img src="..static/images/resources/srv-icn3.png"
                                        th:src="@{/images/resources/srv-icn3.png}" alt="srv-icn3.png" itemprop="image"></i>
                                <h5 itemprop="headline"><a href="#" title="" itemprop="url">Buy & Sell Crypto!</a></h5>
                                <p itemprop="description">Buy crypto and deposit it directly to your Binance wallet:
                                    start trading on the world's leading crypto exchange in an instant!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--    <section id="about" class="pg-scn">-->
<!--        <div class="spacing bottom-spac90 remove-gap">-->
<!--            <div class="container">-->
<!--                <div class="ico-abt-wrp">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-6 col-sm-12 col-sm-6 fadeInLeft wow" data-wow-duration="1s"-->
<!--                             data-wow-delay=".2s">-->
<!--                            <div class="ico-abt crypt-bf">-->
<!--                                <h2 itemprop="headline">Come trade with <span class="theme-clr">us</span>-->
<!--                                    Through <span class="theme-clr">Our Wallet</span></h2>-->
<!--                                <p itemprop="description">From online to instore; from merchant acquiring to payment gateways;-->
<!--                                    from alternative payments to omni-channel and secure cross-border e-commerce;-->
<!--                                    from white-label credit solutions to mobile order and delivery platforms, we offer merchants every size and scale an unbeatable one stop payments solution.</p>-->
<!--                                <p itemprop="description">No registrations, no fees. Trade with us!</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-1 col-sm-12 col-lg-1"></div>-->
<!--                        <div class="col-md-5 col-sm-12 col-lg-5 fadeInRight wow" data-wow-duration="1s"-->
<!--                             data-wow-delay=".2s">-->
<!--                            <div class="abt-mckp">-->
<!--                                <img src="..static/images/resources/abt-mckp1.jpg"-->
<!--                                     th:src="@{/images/resources/abt-mckp1.jpg}" alt="abt-mckp1.jpg" itemprop="image">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <section id="team" class="pg-scn">
        <div class="spacing top-spac60">
            <div class="container">
                <div class="title-sec text-center">
                    <div class="title-sec-inr">
                        <img src="..static/images/resources/tl-icn.png" th:src="@{/images/resources/tl-icn.png}"
                             alt="tl-icn.png" itemprop="image">
                        <h2 itemprop="headline">TEAM</h2>
                        <p itemprop="description">With a team of top technology and finance professionals, we guarantee
                            you profit!</p>
                    </div>
                </div>
                <div class="team-sec remove-ext9">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-lg-4">
                            <div class="team-bx">
                                <div class="team-thmb brd-rd5">
                                    <a href="team-detail.html" title="" itemprop="url"><img
                                            src="..static/images/resources/team-img1.jpg"
                                            th:src="@{/images/resources/team-img1.jpg}" alt="team-img1.jpg"
                                            itemprop="image"></a>
                                    <div class="scl-bx brd-rd50 blue-bg">
                                        <i class="fa fa-share-alt"></i>
                                        <div class="scl-lnks">
                                            <a class="brd-rd50" href="#" title="Facebook" itemprop="url"
                                               target="_blank"><i class="fab fa-facebook-f"></i></a>
                                            <a class="brd-rd50" href="#" title="Twitter" itemprop="url" target="_blank"><i
                                                    class="fab fa-twitter"></i></a>
                                            <a class="brd-rd50" href="#" title="Google Plus" itemprop="url"
                                               target="_blank"><i class="fab fa-google-plus-g"></i></a>
                                            <a class="brd-rd50" href="#" title="Linkedin" itemprop="url"
                                               target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-inf">
                                    <h5 itemprop="headline"><a href="team-detail.html" title="" itemprop="url">Radomir
                                        Ralev</a></h5>
                                    <span>Co-Founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-lg-4">
                            <div class="team-bx">
                                <div class="team-thmb brd-rd5">
                                    <a href="team-detail.html" title="" itemprop="url"><img
                                            src="..static/images/resources/team-img2.jpg"
                                            th:src="@{/images/resources/team-img2.jpg}" alt="team-img2.jpg"
                                            itemprop="image"></a>
                                    <div class="scl-bx brd-rd50 blue-bg">
                                        <i class="fa fa-share-alt"></i>
                                        <div class="scl-lnks">
                                            <a class="brd-rd50" href="#" title="Facebook" itemprop="url"
                                               target="_blank"><i class="fab fa-facebook-f"></i></a>
                                            <a class="brd-rd50" href="#" title="Twitter" itemprop="url" target="_blank"><i
                                                    class="fab fa-twitter"></i></a>
                                            <a class="brd-rd50" href="#" title="Google Plus" itemprop="url"
                                               target="_blank"><i class="fab fa-google-plus-g"></i></a>
                                            <a class="brd-rd50" href="#" title="Linkedin" itemprop="url"
                                               target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-inf">
                                    <h5 itemprop="headline"><a href="team-detail.html" title="" itemprop="url">Vasil
                                        Dinchev</a></h5>
                                    <span>Co-Founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-lg-4">
                            <div class="team-bx">
                                <div class="team-thmb brd-rd5">
                                    <a href="team-detail.html" title="" itemprop="url"><img
                                            src="..static/images/resources/team-img3.jpg"
                                            th:src="@{/images/resources/team-img3.jpg}" alt="team-img3.jpg"
                                            itemprop="image"></a>
                                    <div class="scl-bx brd-rd50 blue-bg">
                                        <i class="fa fa-share-alt"></i>
                                        <div class="scl-lnks">
                                            <a class="brd-rd50" href="#" title="Facebook" itemprop="url"
                                               target="_blank"><i class="fab fa-facebook-f"></i></a>
                                            <a class="brd-rd50" href="#" title="Twitter" itemprop="url" target="_blank"><i
                                                    class="fab fa-twitter"></i></a>
                                            <a class="brd-rd50" href="#" title="Google Plus" itemprop="url"
                                               target="_blank"><i class="fab fa-google-plus-g"></i></a>
                                            <a class="brd-rd50" href="#" title="Linkedin" itemprop="url"
                                               target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-inf">
                                    <h5 itemprop="headline"><a href="team-detail.html" title="" itemprop="url">Inspiration
                                        & Friendship!</a></h5>
                                    <span>Our credo</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="contact">
        <div class="spacing blue-bg-layer opc95">
            <div class="container">
                <div class="faq-crypt-prc">
                    <div class="row">
                        <div class="cnt-inf-inr">
                            <div class="remove-ext3">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-lg-4">
                                        <div class="cnt-inf-bx">
                                            <i class="flaticon-black-back-closed-envelope-shape theme-bg brd-rd50"></i>
                                            <div class="cnt-inf">
                                                <h5 itemprop="headline">EMAIL:</h5>
                                                <a href="mailto:virtualwalletrrvv@gmail.com" title="" itemprop="url">virtualwalletrrvv@gmail.com</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-lg-4">
                                        <div class="cnt-inf-bx">
                                            <i class="fas fa-map-marker-alt theme-bg brd-rd50"></i>
                                            <div class="cnt-inf">
                                                <h5 itemprop="headline">ADDRESS:</h5>
                                                <span>30, ul. "Krastyu Rakovski" str, 1729 Sofia, Bulgaria</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-lg-4">
                                        <div class="cnt-inf-bx">
                                            <i class="flaticon-telephone theme-bg brd-rd50"></i>
                                            <div class="cnt-inf">
                                                <h5 itemprop="headline">PHONE:</h5>
                                                <span>123 (456) 78910</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12 col-lg-5 fadeInLeft wow" data-wow-duration="1s"
                             data-wow-delay=".2s">
                            <div class="ico-abt">
                                <h2 itemprop="headline">What is <span class="theme-clr">VIRTUAL WALLET?</span></h2>
                                <span>We offer you the chance to exchange money without additional fees and taxes, and to buy and sell cryptocurrencies without additional registrations. allowing us to buy at much closer to live interbank prices, thus allowing us to pass on the benefits of a better exchange rate to all of our clients.</span>
                                <p itemprop="description">Wallet For Buying, Storing and Using Cryptos.<br>
                                    Online Trading Platform for currency exchange.<br>
                                    Reliable service for support in anything you may need.<br></p>

                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12 col-lg-5 fadeInRight wow" data-wow-duration="1s"
                             data-wow-delay=".2s">
                            <div class="ico-abt">
                                <h2 itemprop="headline">Why choose <span class="theme-clr">US?</span></h2>
                                <span>Due to the large volume of transactions, we have access to much better exchange rates. Whether you want advice or information, you can be sure that our website is totally independent and unbiased; the same is true of our advisers. Not only does our website gibe you truly independent information on a range of financial matters, our team of advisers are on-hand to answer your questions and give you advice. You can also take advantage of our free services to help you plan your financial affairs.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="bottom-bar text-center">
        <div class="container">
            <p itemprop="description">Copyright &copy; 2020. All rights reserved by Team 20 Star&Tup - Rado & Vasko </p>
        </div>
    </div>
</main><!-- Project Main Wrapper -->

<script src="..static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="..static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="..static/js/fancybox.min.js" th:src="@{/js/fancybox.min.js}"></script>
<script src="..static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<script src="..static/js/perfect-scrollbar.min.js" th:src="@{/js/perfect-scrollbar.min.js}"></script>
<script src="..static/js/isotope.min.js" th:src="@{/js/isotope.min.js}"></script>
<script src="..static/js/bootstrap-select.min.js" th:src="@{/js/bootstrap-select.min.js}"></script>
<script src="..static/js/downCount.js" th:src="@{/js/downCount.js}"></script>
<script src="..static/js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
<script src="..static/js/highcharts.js" th:src="@{/js/highcharts.js}"></script>
<script src="..static/js/highcharts-3d.js" th:src="@{/js/highcharts-3d.js}"></script>
<script src="..static/js/exporting.js" th:src="@{/js/exporting.js}"></script>
<script src="..static/js/export-data.js" th:src="@{/js/export-data.js}"></script>
<script src="..static/js/chart-int1.js" th:src="@{/js/chart-int1.js}"></script>
<script src="..static/js/particles.min.js" th:src="@{/js/particles.min.js}"></script>
<script src="..static/js/particles-int2.js" th:src="@{/js/particles-int2.js}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcaOOcFcQ0hoTqANKZYz-0ii-J0aUoHjk"></script>
<script src="..static/js/google-map-int.js" th:src="@{/js/google-map-int.js}"></script>
<script src="..static/js/custom-scripts.js" th:src="@{/js/custom-scripts.js}"></script>

<script src="..static/js/extensions/jquery.themepunch.tools.min.js"
        th:src="@{/js/extensions/jquery.themepunch.tools.min.js}"></script>
<script src="..static/js/extensions/jquery.themepunch.revolution.min.js"
        th:src="@{/js/extensions/jquery.themepunch.revolution.min.js}"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="..static/js/extensions/navigation/revolution.extension.actions.min.js"
        th:src="@{/js/extensions/navigation/revolution.extension.actions.min.js}"></script>
<script src="..static/js/extensions/navigation/revolution.extension.carousel.min.js"
        th:src="@{/js/extensions/navigation/revolution.extension.carousel.min.js}"></script>
<script src="..static/js/extensions/navigation/revolution.extension.kenburn.min.js"
        th:src="@{/js/extensions/navigation/revolution.extension.kenburn.min.js}"></script>
<script src="..static/js/extensions/navigation/revolution.extension.layeranimation.min.js"
        th:src="@{/js/extensions/navigation/revolution.extension.layeranimation.min.js}"></script>
<script src="..static/js/extensions/navigation/revolution.extension.migration.min.js"
        th:src="@{/js/extensions/navigation/revolution.extension.migration.min.js}"></script>
<script src="..static/js/extensions/navigation/revolution.extension.navigation.min.js"
        th:src="@{/js/extensions/navigation/revolution.extension.navigation.min.js}"></script>
<script src="..static/js/extensions/navigation/revolution.extension.parallax.min.js"
        th:src="@{/js/extensions/navigation/revolution.extension.parallax.min.js}"></script>
<script src="..static/js/extensions/navigation/revolution.extension.slideanims.min.js"
        th:src="@{/js/extensions/navigation/revolution.extension.slideanims.min.js}"></script>
<script src="..static/js/extensions/navigation/revolution.extension.video.min.js"
        th:src="@{/js/extensions/navigation/revolution.extension.video.min.js}"></script>
<script src="..static/js/extensions/revolution-init.js" th:src="@{/js/extensions/revolution-init.js}"></script>
</body>
</html>
